.question__section {
    padding-top: 10rem;
}

.question__wrap {
    display: flex;
    flex-direction: column;
}

.question__title {
    color: #000000;

    font-style: normal;
    font-weight: 600;
    font-size: var(--h1-size);
    line-height: 4.4rem;

    /* MEDIA <= 580px */
    @media only screen and (max-width: 580px) {
        line-height: 2.8rem;
    }
}

.question__wrap-content {
    display: flex;
    justify-content: space-between;

    /* MEDIA <= 480px */
    @media only screen and (max-width: 480px) {
        flex-direction: column;
        margin-top: 7rem;
    }
}

.question__col {
    margin-top: 7rem;

    display: flex;
    flex-direction: column;
    flex: 1 1 auto;

    margin-right: 7rem;

    &:last-child {
        margin-right: 0;
    }

    /* MEDIA <= 480px */
    @media only screen and (max-width: 480px) {
        margin: 0;
    }
}

.question__col-record {
    display: flex;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;

    svg path {
        transition: var(--transition); 
    }

    &:hover {
        .question__col-record-name {
            color: var(--green-one);
        }
        svg path {
            fill: var(--green-one);
        }
    }
}

.question__col-record-name {
    color: #000000;
    transition: var(--transition);

    font-style: normal;
    font-weight: 600;
    font-size: var(--text-normal-size);
}

.question__button {
    text-align: center;
    margin-top: 4.4rem;
    max-width: 19rem;
    align-self: flex-end;
}


.all__question .question__col .question__col-record {
    margin: 0.7rem 0;
}