<div class="filters">
    <div class="container">
        <div class="filters__wrap">

            <button class="filters__close btn__samll">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.05373 12.9463L12.9463 7.05371" stroke="black" stroke-width="1.5"
                        stroke-linecap="round" />
                    <path d="M7.05373 7.05373L12.9463 12.9463" stroke="black" stroke-width="1.5"
                        stroke-linecap="round" />
                </svg>
            </button>

            <div class="filters__content">

                <h2 class="filters__title">Фильтр</h2>

                <div class="filters__price filters__item drop__wrap ">
                    <p class="filters__drop-name drop__trigger">
                        Цена
                        <svg width="10" height="7" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M9.76877 0.899655C10.0771 1.2103 10.0771 1.71395 9.76877 2.0246L5.55824 6.26702C5.24993 6.57767 4.75007 6.57767 4.44176 6.26702L0.231232 2.0246C-0.0770772 1.71395 -0.0770772 1.2103 0.231231 0.899655C0.53954 0.589011 1.03941 0.589011 1.34772 0.899655L5 4.57961L8.65228 0.899655C8.96059 0.589011 9.46046 0.589011 9.76877 0.899655Z"
                                fill="black" />
                        </svg>
                    </p>
                    <ul class="filters__drop-list dropdown">
                        <div id="sliderPrice" class="price__slider"></div>
                        <div class="slider__values">
                            <div class="slider__value">
                                <label for="priceFrom">От</label>
                                <input class="slider__value-input" type="text" id="priceFrom" placeholder="70₽">
                            </div>
                            <div class="slider__value">
                                <label for="priceTo">До</label>
                                <input class="slider__value-input" type="text" id="priceTo" placeholder="35000₽">
                            </div>
                        </div>
                    </ul>
                </div>

                <div class="filters__color filters__item drop__wrap">
                    <p class="filters__drop-name drop__trigger">
                        Цвет
                        <svg width="10" height="7" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M9.76877 0.899655C10.0771 1.2103 10.0771 1.71395 9.76877 2.0246L5.55824 6.26702C5.24993 6.57767 4.75007 6.57767 4.44176 6.26702L0.231232 2.0246C-0.0770772 1.71395 -0.0770772 1.2103 0.231231 0.899655C0.53954 0.589011 1.03941 0.589011 1.34772 0.899655L5 4.57961L8.65228 0.899655C8.96059 0.589011 9.46046 0.589011 9.76877 0.899655Z"
                                fill="black" />
                        </svg>
                    </p>
                    <ul class="filters__drop-list dropdown">
                        <li class="dropdown__point">...</li>
                        <li class="dropdown__point">...</li>
                        <li class="dropdown__point">...</li>
                        <li class="dropdown__point">...</li>
                    </ul>
                </div>

                <div class="filters__label filters__item drop__wrap">
                    <p class="filters__drop-name drop__trigger">
                        Лейблы
                        <svg width="10" height="7" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M9.76877 0.899655C10.0771 1.2103 10.0771 1.71395 9.76877 2.0246L5.55824 6.26702C5.24993 6.57767 4.75007 6.57767 4.44176 6.26702L0.231232 2.0246C-0.0770772 1.71395 -0.0770772 1.2103 0.231231 0.899655C0.53954 0.589011 1.03941 0.589011 1.34772 0.899655L5 4.57961L8.65228 0.899655C8.96059 0.589011 9.46046 0.589011 9.76877 0.899655Z"
                                fill="black" />
                        </svg>
                    </p>
                    <ul class="filters__drop-list dropdown">
                        <li class="dropdown__point">...</li>
                        <li class="dropdown__point">...</li>
                        <li class="dropdown__point">...</li>
                        <li class="dropdown__point">...</li>
                    </ul>
                </div>

                <div class="filters__size filters__item drop__wrap">
                    <p class="filters__drop-name drop__trigger">
                        Размер одежды
                        <svg width="10" height="7" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M9.76877 0.899655C10.0771 1.2103 10.0771 1.71395 9.76877 2.0246L5.55824 6.26702C5.24993 6.57767 4.75007 6.57767 4.44176 6.26702L0.231232 2.0246C-0.0770772 1.71395 -0.0770772 1.2103 0.231231 0.899655C0.53954 0.589011 1.03941 0.589011 1.34772 0.899655L5 4.57961L8.65228 0.899655C8.96059 0.589011 9.46046 0.589011 9.76877 0.899655Z"
                                fill="black" />
                        </svg>
                    </p>
                    <ul class="filters__drop-list dropdown">
                        <li class="dropdown__point">...</li>
                        <li class="dropdown__point">...</li>
                        <li class="dropdown__point">...</li>
                        <li class="dropdown__point">...</li>
                    </ul>
                </div>

                <div class="filters__both filters__item drop__wrap">
                    <p class="filters__drop-name drop__trigger">
                        Объем флеш-карты
                        <svg width="10" height="7" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M9.76877 0.899655C10.0771 1.2103 10.0771 1.71395 9.76877 2.0246L5.55824 6.26702C5.24993 6.57767 4.75007 6.57767 4.44176 6.26702L0.231232 2.0246C-0.0770772 1.71395 -0.0770772 1.2103 0.231231 0.899655C0.53954 0.589011 1.03941 0.589011 1.34772 0.899655L5 4.57961L8.65228 0.899655C8.96059 0.589011 9.46046 0.589011 9.76877 0.899655Z"
                                fill="black" />
                        </svg>
                    </p>
                    <ul class="filters__drop-list dropdown">
                        <li class="dropdown__point">...</li>
                        <li class="dropdown__point">...</li>
                        <li class="dropdown__point">...</li>
                        <li class="dropdown__point">...</li>
                    </ul>
                </div>

                <div class="filters__btns">
                    <button id="filterShow" class="main__btn">
                        Показать <span class="show-count">(30)</span>
                    </button>
                    <button id="filterRest" class="btn__large">
                        Сбросить
                    </button>
                </div>

            </div>

        </div>
    </div>
</div>