<div id="popupSuccResponse" class="popup _isActive">
    <div class="popup__container">
        <div class="popup__wrap">

            <div class="popup__nav">
                <p class="popup__nav-name">Отклик на вакансию</p>
                <button class="close__popup btn__samll">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.05373 12.9463L12.9463 7.05371" stroke="black" stroke-width="1.5"
                            stroke-linecap="round" />
                        <path d="M7.05373 7.05373L12.9463 12.9463" stroke="black" stroke-width="1.5"
                            stroke-linecap="round" />
                    </svg>
                </button>
            </div>

            <div class="popup__content">
                <div class="popup__succ">
                    <div class="popup__succ-icon">
                        <img src="{{root}}assets/img/svg/check-empty.svg" alt="Search">
                    </div>
                    <div class="popup__succ-info">
                        <h3 class="notfond__results-info-title">Отклик успешно отправлен</h3>
                    </div>
                    <div class="popup__succ-btns">
                        <a href="/" class="main__btn">На главную</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>