<div id="popupRewUnlogin" class="popup">
    <div class="popup__container">
        <div class="popup__wrap">

            <div class="popup__nav">
                <p class="popup__nav-name">Отзыв о компании</p>
                <button class="close__popup btn__samll">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.05373 12.9463L12.9463 7.05371" stroke="black" stroke-width="1.5"
                            stroke-linecap="round" />
                        <path d="M7.05373 7.05373L12.9463 12.9463" stroke="black" stroke-width="1.5"
                            stroke-linecap="round" />
                    </svg>
                </button>
            </div>

            <div class="popup__content">
                <div class="unlogin__popup-info">
                    <h3 class="unlogin__popup-info-title">Чтобы оставить отзыв необходимо войти в систему</h3>
                    <div class="unlogin__popup-info-btns">
                        <a target="_self" href="./login.html" type="button" class="main__btn unlogin__btn">Войти</a>
                        <a target="_self" href="./sign-in.html" type="button" class="btn__large">Регистрация</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>