<div id="popupSelect" class="popup">
    <div class="popup__container">
        <div class="popup__wrap">

            <div class="popup__nav">
                <p class="popup__nav-name">Корзина</p>
                <button class="close__popup btn__samll">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.05373 12.9463L12.9463 7.05371" stroke="black" stroke-width="1.5"
                            stroke-linecap="round" />
                        <path d="M7.05373 7.05373L12.9463 12.9463" stroke="black" stroke-width="1.5"
                            stroke-linecap="round" />
                    </svg>
                </button>
            </div>

            <div class="popup__content">
                <div class="product__sidebar">
                    <h2 class="product__sidebar-title">Кружка под сублимацию «Стандарт»</h2>
                    <div class="product__sidebar-info">
                        <span class="product__article">В корзину 10 Открыть в конструкторе</span>
                        <span class="product__exist">На складе 2 786 шт</span>
                    </div>
                    <div class="product__settings">
                        <div id="productColor" class="product__settings-item drop__wrap">
                            <p class="question__col-record-name drop__trigger">
                                Цвет
                                <svg width="10" height="7" viewBox="0 0 10 7" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M9.76877 0.899655C10.0771 1.2103 10.0771 1.71395 9.76877 2.0246L5.55824 6.26702C5.24993 6.57767 4.75007 6.57767 4.44176 6.26702L0.231232 2.0246C-0.0770772 1.71395 -0.0770772 1.2103 0.231231 0.899655C0.53954 0.589011 1.03941 0.589011 1.34772 0.899655L5 4.57961L8.65228 0.899655C8.96059 0.589011 9.46046 0.589011 9.76877 0.899655Z"
                                        fill="black" />
                                </svg>
                            </p>
                            <ul class="product__settings-item dropdown">
                                <li class="dropdown__point">
                                    <img src="./assets/img/no-categor.png" alt="icon">
                                    Без нанесения
                                </li>
                                <li class="dropdown__point">
                                    <img src="./assets/img/laser-img.png" alt="icon">
                                    Гравировка
                                </li>
                                <li class="dropdown__point">
                                    <img src="./assets/img/roller-icon.png" alt="icon">
                                    Тампопечать
                                </li>
                            </ul>
                        </div>
                        <div id="productView" class="product__settings-item drop__wrap">
                            <p class="question__col-record-name drop__trigger">
                                Вид
                                <svg width="10" height="7" viewBox="0 0 10 7" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M9.76877 0.899655C10.0771 1.2103 10.0771 1.71395 9.76877 2.0246L5.55824 6.26702C5.24993 6.57767 4.75007 6.57767 4.44176 6.26702L0.231232 2.0246C-0.0770772 1.71395 -0.0770772 1.2103 0.231231 0.899655C0.53954 0.589011 1.03941 0.589011 1.34772 0.899655L5 4.57961L8.65228 0.899655C8.96059 0.589011 9.46046 0.589011 9.76877 0.899655Z"
                                        fill="black" />
                                </svg>
                            </p>
                            <ul class="product__settings-item dropdown">
                                <li class="dropdown__point">
                                    <img src="./assets/img/no-categor.png" alt="icon">
                                    Без нанесения
                                </li>
                                <li class="dropdown__point">
                                    <img src="./assets/img/laser-img.png" alt="icon">
                                    Гравировка
                                </li>
                                <li class="dropdown__point">
                                    <img src="./assets/img/roller-icon.png" alt="icon">
                                    Тампопечать
                                </li>
                            </ul>
                        </div>
                        <div id="productWay" class="product__settings-item drop__wrap">
                            <p class="question__col-record-name drop__trigger">
                                Способ нанесения
                                <svg width="10" height="7" viewBox="0 0 10 7" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M9.76877 0.899655C10.0771 1.2103 10.0771 1.71395 9.76877 2.0246L5.55824 6.26702C5.24993 6.57767 4.75007 6.57767 4.44176 6.26702L0.231232 2.0246C-0.0770772 1.71395 -0.0770772 1.2103 0.231231 0.899655C0.53954 0.589011 1.03941 0.589011 1.34772 0.899655L5 4.57961L8.65228 0.899655C8.96059 0.589011 9.46046 0.589011 9.76877 0.899655Z"
                                        fill="black" />
                                </svg>
                            </p>
                            <ul class="question__col-record-drop dropdown">
                                <li class="dropdown__point">
                                    <img src="./assets/img/no-categor.png" alt="icon">
                                    Без нанесения
                                </li>
                                <li class="dropdown__point">
                                    <img src="./assets/img/laser-img.png" alt="icon">
                                    Гравировка
                                </li>
                                <li class="dropdown__point">
                                    <img src="./assets/img/roller-icon.png" alt="icon">
                                    Тампопечать
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="product__nav">
                        <div class="total__price">
                            <div class="total__price-row">
                                <span class="total-name">Итог</span>
                                <span class="old-price">206₽</span>
                            </div>
                            <div class="total__price-row">
                                <h2 class="total-price">147₽</h2>
                                <span class="price-prefix">за шт</span>
                            </div>
                        </div>
                        <div class="product__controll">
                            <button type="button" class="add__cart btn__large">В корзину</button>
                            <div class="product__counter">
                                <button type="button" class="product__counter-minus">
                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M4.66732 8L11.334 8" stroke="#000000" stroke-width="1.5"
                                            stroke-linecap="round" />
                                    </svg>
                                </button>
                                <input class="product__counter-count" type="text" value="10">
                                <button type="button" class="product__counter-plus">
                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M8 11.3334V4.66675" stroke="#000000" stroke-width="1.5"
                                            stroke-linecap="round" />
                                        <path d="M4.66536 8L11.332 8" stroke="#000000" stroke-width="1.5"
                                            stroke-linecap="round" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <a href="#" class="constructor__open main__btn">
                            <span> Открыть в конструкторе</span>
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M8 11.3334V4.66675" stroke="#ffffff" stroke-width="1.5"
                                    stroke-linecap="round" />
                                <path d="M4.66536 8L11.332 8" stroke="#ffffff" stroke-width="1.5"
                                    stroke-linecap="round" />
                            </svg>
                        </a>
                        <p class="product__warning">Обратите внимание, что у каждого товара есть минимальное
                            количество для добавления в корзину.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>