<div class="sponsors__slider-container">
    <div class="sponsors__cards sponsors__slider">

        <div class="swiper-wrapper">

            <div id="sponsor-1" href="#" class="sponsors__cards-item swiper-slide">
                <img class="sponsors__cards-img" src="./assets/img/lerua-img.png" alt="Mug">
            </div>

            <div id="sponsor-2" href="#" class="sponsors__cards-item swiper-slide">
                <img class="sponsors__cards-img" src="./assets/img/kotofey-img.png" alt="Mug">
            </div>

            <div id="sponsor-3" href="#" class="sponsors__cards-item swiper-slide">
                <img class="sponsors__cards-img" src="./assets/img/lukoyl-img.png" alt="Mug">
            </div>

            <div id="sponsor-4" href="#" class="sponsors__cards-item swiper-slide">
                <img class="sponsors__cards-img" src="./assets/img/vtb-img.png" alt="Mug">
            </div>

            <div id="sponsor-1" href="#" class="sponsors__cards-item swiper-slide">
                <img class="sponsors__cards-img" src="./assets/img/lerua-img.png" alt="Mug">
            </div>

            <div id="sponsor-2" href="#" class="sponsors__cards-item swiper-slide">
                <img class="sponsors__cards-img" src="./assets/img/kotofey-img.png" alt="Mug">
            </div>

            <div id="sponsor-3" href="#" class="sponsors__cards-item swiper-slide">
                <img class="sponsors__cards-img" src="./assets/img/lukoyl-img.png" alt="Mug">
            </div>

            <div id="sponsor-4" href="#" class="sponsors__cards-item swiper-slide">
                <img class="sponsors__cards-img" src="./assets/img/vtb-img.png" alt="Mug">
            </div>

        </div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev sponsors__btn-prev">
            <svg width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M8.40053 0.846847C8.86649 1.30931 8.86649 2.05911 8.40053 2.52157L2.8806 8L8.40053 13.4784C8.86649 13.9409 8.86649 14.6907 8.40053 15.1532C7.93456 15.6156 7.17908 15.6156 6.71311 15.1532L0.349475 8.83736C-0.116492 8.3749 -0.116492 7.6251 0.349475 7.16264L6.71311 0.846847C7.17908 0.384384 7.93456 0.384384 8.40053 0.846847Z"
                    fill="#000000" />
            </svg>
        </div>
        <div class="swiper-button-next sponsors__btn-next">
            <svg width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M0.599475 0.846847C1.06544 0.384384 1.82092 0.384384 2.28689 0.846847L8.65053 7.16264C9.11649 7.6251 9.11649 8.3749 8.65053 8.83736L2.28689 15.1532C1.82092 15.6156 1.06544 15.6156 0.599475 15.1532C0.133508 14.6907 0.133508 13.9409 0.599475 13.4784L6.1194 8L0.599475 2.52157C0.133508 2.05911 0.133508 1.30931 0.599475 0.846847Z"
                    fill="#000000" />
            </svg>
        </div>

    </div>
</div>