*,
*::before, *::after {
    box-sizing: border-box;
}

html, 
body {
    overflow-x: hidden;
    font-size: 10px;
    font-family: Inter, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1240px;
    height: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

main {
    flex: 1 1 auto;
}

footer {
    flex-shrink: 0;
}

a {
    color: inherit;
}

ul, li, p, a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}




.logo__img {
    object-fit: cover;
    object-position: center;
}
.search__icon {
    width: 100%;
    height: 100%;
}
.burger__icon {
    width: 100%;
    height: 100%;
}